.location{
	flex-grow: 0;
	font-size: 12px;
	color: #858585;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #c7c7c7;
	display: flex;
}
.location > a {
	margin: 4px 16px 0px 10px;
}
.location_select{
	flex-grow: 0;
	width: 177px;
	margin-left: 19px;
	color: #58159b;
    font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.location-flex{
    display: flex;
}