.travler{
	padding: 40px 0px 40px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header{
	background: url(./../../common/style/images/backgroundHeader.png) no-repeat;
	background-size: 100% 100%;
}