.photoName{
    font-size: 14px;
    font-family: 'PT Sans';
    font-weight: bold;
    color: #7b7b7b;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
  }
  .photoProf{
    font-size: 14px;
    font-family: 'PT Sans';
    color: #7b7b7b;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  .backgroundPhoto{
    text-align: center;
  }