.slider {
	margin: 0 -15px;
  }
  .titleOurTeam{
    font-size: 36px;
    color: #717171;
  }
  .ourTeam{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .ourTeam hr{
    width: 220px
  }
  .subOurTeam{
    font-size: 14px;
    color: #717171;
    padding-top: 18px;
    text-align: center;
    padding-bottom: 40px;
  }
  