.mainSection3{
	background-color: #ebebeb;
	padding-top: 80px;
	padding-bottom: 35px;
	border-bottom: 4px solid #914dcf;
}
.mainRows{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 45px;
}
.hrRegion{
	width: 100px;
	border: 2px solid #c7c7c7; 
}
.category{
	display: flex;
	justify-content: space-around;
	height: 50px;
	align-items: center;
	font-weight: bold;
}
.category div a{
	font-size: 24px;
	color:#6d6d6d;
	font-family: 'Titillium Web';
	margin-top: -5px;
}
.category div a:hover{
	color:black

}
.titlePage{
	font-size: 50px;
	font-weight: bold;
	font-family: 'PT Sans';
	letter-spacing: 5px;
	text-align: center;
	padding-top: 30px;
}
.mainSection3Page{
	padding-top: 20px;
	background-color: #ebebeb;
	padding-bottom: 35px;
	border-bottom: 4px solid #914dcf;
}
