.footerMainText{
	display: flex;
	flex-direction:row;
	padding-top: 40px;
	justify-content: space-around;

}
.footerText{

	font-size: 12px;
	color: #d9d9d9;
	width: 500px;
	padding-right: 25px;
	line-height: 20px;
	padding-bottom: 50px;
}
.footerIcon{
	
	width: 460px;
	padding-left: 115px;
}
.footerIcon{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.iconSocial{
	padding-top: 3px;
	color: white;
	margin-left: -35px;
	font-size: 12px;
	font-family: 'PT Sans';
	cursor: pointer;
}