
.menu{
	display: flex;
	position: relative;
	top: 13px;
  
}

.menu a{
	color: #707070;
	text-align: center;
	cursor: pointer;
	padding-top: 18px;
	padding-bottom: 30px;
}
.menu li{
	width: 192px;
	height: 113px;
	background-image: url(./../../../common/style/images/backgroundMenu.png);
	border-bottom: 5px solid #6017a3;
	font-size: 17px;
	font-family: 'PT Sans';
	font-weight: bold;
	box-sizing: border-box;
}
.menu li:not(:last-child){
	border-right: 1px solid #d4d4d4;
}

.menu li a img{
	padding-bottom: 18px;
}
.menu li a:hover{
    color: #6919ac;
	font-size: 17px;
	font-family: 'PT Sans';
	font-weight: bold;
	background-color: #ffffff;
	border-bottom: 13px solid #6017a3;
	position: relative;
	top: -11px;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}
.menu li a:active{
    color: #6919ac;
	font-size: 17px;
	font-family: 'PT Sans';
	font-weight: bold;
	background-color: #ffffff;
	border-bottom: 13px solid #6017a3;
	position: relative;
	top: -11px;
	box-shadow: 0 0 7px rgba(0,0,0,0.1);
}