.europePage{
    background: url(/images/Europe.jpg) no-repeat;
	height: 550px;
	background-size: cover;
}
.likedArticle{
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'PT Sans';
}