.mainSection2{
	background-color: #2d2d2d;

	border-bottom: 3px solid #1e1e1e;
}
.titleSection2{
	font-size: 36px;
	color: #ffffff;
	font-family: 'Trade Winds' ;
	text-align: center;
	padding-top: 50px;
}
.subtextSetion2{
	font-size: 14px;
	color: #a161db;
	font-family: 'Trade Winds';
	text-align: center;
	padding-bottom: 30px;
}
.cld{
	padding-top: 210px;
	padding-bottom: 55px;
}
.clouds{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hrSection2{
	width: 150px;
	border: 2px solid #6d6d6d;
}
.textSection2{
	display: flex;
	justify-content: space-between;
	text-align: left;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 100px;
}
.textSection2 div{
	width: 300px;
}
.subTextSection2 {
	font-size: 12px;
	color: #c7c7c7;
	font-family: 'Titillium Web';
	line-height: 20px;
}
.titleTextSection2{
	font-size: 24px;
	color: #c7c7c7;
	font-family: 'Titillium Web';
	padding-top: 30px;
	padding-bottom: 22px;
}