.logo{
	display: flex;
	flex-direction:row;
	flex-grow: 3;
}
.logo > div{
	padding-left: 11px;
}
.logotext{
	font-size: 39px;
	color: #6919ac;
	font-family: 'Fredoka One' ;
	padding-bottom: 2px;
	cursor: pointer;
}
.logosubtext{
	font-size: 12px;
	color: #858585;
	font-family: 'PT Sans';
	font-style: italic;
	
}