.footerlogotext{
	font-size: 39px;
	color: #ffffff;
	font-family: 'Fredoka One' ;
	padding-bottom: 2px;
	padding-left: 10px;
}
.footerlogosubtext{
	font-size: 12px;
	color: #ffffff;
	font-family: 'PT Sans';
	font-style: italic;
	padding-left: 10px;
}
.headfooter{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
}
.headfooter div{
	font-size: 12px;
	color: white;
}
.headfooter div:nth-child(2){
	flex-grow: 7;

}
.headfooter div:nth-child(3){
	flex-grow: 0;
	border-right: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
.headfooter div:nth-child(3):hover{
	border-bottom: 4px solid #914dcf;
	padding-bottom: 15px;
}
.headfooter div:nth-child(4){
	flex-grow: 0;
	border-right: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
.headfooter div:nth-child(4):hover{
	border-bottom: 4px solid #914dcf;
	padding-bottom: 15px;
}
.headfooter div:nth-child(5){
	flex-grow: 0;
	border-right: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
.headfooter div:nth-child(5):hover{
	border-bottom: 4px solid #914dcf;
	padding-bottom: 15px;
}
.headfooter div:nth-child(6){
	flex-grow:0;
	border-right: 1px solid white;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
}
.headfooter div:nth-child(6):hover{
	border-bottom: 4px solid #914dcf;
	padding-bottom: 15px;
}
.headfooter div:nth-child(7){
	flex-grow:0;
	padding-left: 20px;
	cursor: pointer;
}
.headfooter div:nth-child(7):hover{
	border-bottom: 4px solid #914dcf;
	padding-bottom: 15px;
}
.headfooter hr{
	height: 12px;
}