.titleArticle{
    font-size: 50px;
	color: black;	
	font-family: 'Titillium Web';
	font-weight: bold;
	padding-bottom: 20px;
}
.articlePageRow{
	width: 700px;
}
.mainText{
	font-size: 12px;
	color: #949494;	
	font-family: 'Titillium Web';
	line-height: 20px;
}
