.search{
	width: 300px;
	height: 46px;
	background-color: white;
	border: 0px;
	flex-grow: 0;
	position: relative;

}
.search input {
	padding-left:19px
}
.search::placeholder{
	font-size: 12px;
	color: #c7c7c7;
}
.search_clock{
	background: url(./../../../common/style/images/clocks.png) no-repeat;
	background-position: 50% 50%;
	width: 23px;
	height: 23px;
	border: 0px;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 13px;
}
