.addtext{
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.blogrowtext{
	width: 460px;

}

.blogSection3{
	
	background-color: #ffffff;
	padding: 60px 35px 30px 50px;
	margin-bottom: 20px;
	position: relative;
}
.titleArticle{
	font-size: 30px;
	color: black;	
	font-family: 'Titillium Web';
	font-weight: bold;
	padding-bottom: 20px;
}

.blogSection3 p:nth-child(2){
	font-size: 12px;
	color: #949494;	
	font-family: 'Titillium Web';
	line-height: 20px;
}
